<section class="roiNav">
  <div class="j-row vertical-center-row space-between">
    <a class="roiNav-logo" href="/clan/" title="Back to Exalted Homepage">
      <img src="/clan/assets/img/iron-logo-gold.png" alt="Exalted" width="26" height="25">
      <strong>Λscendant</strong>
    </a>
    <div class="roiNav-trigger">
      <span></span>
      <span></span>
    </div>
    <nav>
      <ul>
				<li class="roiNav-item">
          <a href="{{"/clan/about/" | relative_url}}" title="About Destiny 2 PC clan Λscendant" class="roiNav-link{% if page.url == '/clan/about/' %} is-current{% endif %}">About</a>
        </li>
        <li class="roiNav-item">
          <a href="{{"/clan/roster/" | relative_url}}" title="Λscendant Clan Destiny 2 Roster" class="roiNav-link{% if page.url == '/clan/roster/' %} is-current{% endif %}">Roster</a>
        </li>
        <li class="roiNav-item">
          <a href="{{"/clan/maps/" | relative_url}}" title="Λscendant Clan Destiny2 PvP maps" class="roiNav-link{% if page.url == '/clan/maps/' %} is-current{% endif %}">Maps</a>
        </li>
        <li class="roiNav-item">
          <a href="{{"/clan/videos/" | relative_url}}" title="Λscendant Destiny 2 Gameplay Videos" class="roiNav-link{% if page.url == '/clan/videos/' %} is-current{% endif %}">Videos</a>
        </li>
        <li class="roiNav-item">
          <a href="/clan/apply/" style="border-radius:0;" class="button" title="Join Λscendant!">Apply</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
